<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taca.boombuy">

    <!-- 인터넷 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 폰 읽기 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 주소록 읽기 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mainview.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.sign.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.sign.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.popup.SignUpPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".ui.mainview.activity.ToFriendListActivity" />
        <activity android:name=".ui.mainview.activity.FromFriendsListActivity" />
        <activity android:name=".ui.mainview.activity.MainProduct" />
        <activity
            android:name=".ui.mainview.activity.GiftManageActivity"
            android:label="@string/title_activity_gift_manage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.mainview.activity.SignUpTermsActivity" />

        <!-- FCM 메시징 수신 서비스 -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- FCM 고유 아이디 수신 서비스 -->
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.mainview.activity.GiftDetailInfoActivity" />

        <!--
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
        -->

        <activity
            android:name=".ui.mainview.activity.GiftSelectDetailInfoActivity"
            android:label="@string/title_activity_gift_select_detail_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".service.ContactsService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>